<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <title>Document</title>
</head>
<body>
  <div id="app">
    <p v-for="(child, index) in childs">
      {{ child }} : {{ index }}
    </p>

    <div v-for="(car, index) in cars">
      <p>
        {{ car.brand }}
      </p>
      <p>
        {{ car.color }}
      </p>
    </div>

    <p v-for="(value, key, index) in person">
      {{ key }} : {{ value }}
    </p>
  </div>
</body>

<script>
  const App = {
    data () {
      return {
        person: {
          nama: 'zaky',
          pekerjaan: 'dev',
          umur: '27'
        },
        childs: [
          'Asep',
          'Nana',
          'Jaka'
        ],
        cars: [
          {
            brand: 'Honda',
            color: 'White'
          },
          {
            brand: 'Mazda',
            color: 'Red'
          },
          {
            brand: 'Toyota',
            color: 'Black'
          }
        ]
      }
    },
  }

  Vue.createApp(App).mount('#app')
</script>
</html>